src/main/webapp/WEB-INF/wsdl/sec/SecurityService.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!-- https://github.com/donhenton/code-attic/blob/e8588bea7af3d3a168958ae96ea8a476fcb6969f/mule/mule32/MuleWSSandbox/src/main/resources/SecurityService.wsdl -->


<wsdl:definitions name="SecurityService" targetNamespace="http://dhenton9000.com/sec/contract/SecurityService"
                  xmlns="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://dhenton9000.com/sec/contract/SecurityService"
                  xmlns:x1="http://dhenton9000.com/sec/schema/SecurityService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                  xmlns:sec="http://dhenton9000.com/sec/schema/SecurityService"
                  xsi:schemaLocation="http://schemas.xmlsoap.org/wsdl/
                      http://schemas.xmlsoap.org/wsdl/
                      http://www.w3.org/2001/XMLSchema
                      https://www.w3.org/2001/XMLSchema.xsd">
   
    <wsdl:types>
        <xsd:schema
            targetNamespace="uri:dhenton9000:SecurityService"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://dhenton9000.com/sec/schema/SecurityService"
                        schemaLocation="SecurityModel.xsd" />
			 
        </xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="emptyRequest"></wsdl:message>
    
    <wsdl:message name="singleApplicationResponse">
        <wsdl:part element="sec:Applications" name="outPutParam"/> 
    </wsdl:message>
    
    <wsdl:message name="deleteUserResponse">
        <wsdl:part element="sec:UsersDelete" name="outPutParam"/> 
    </wsdl:message>
    
    <wsdl:message name="deleteUserRequest">
        <wsdl:part element="sec:UsersDelete" name="inPutParam"/> 
    </wsdl:message>
    
     <wsdl:message name="saveUserResponse">
        <wsdl:part element="sec:Users" name="outPutParam"/> 
    </wsdl:message>
    
    <wsdl:message name="saveUserRequest">
        <wsdl:part element="sec:Users" name="inPutParam"/> 
    </wsdl:message>
    
    <wsdl:message name="singleGroupResponse">
        <wsdl:part element="sec:Groups" name="outPutParam"/> 
    </wsdl:message>
    
    <wsdl:message name="applicationsResponse">
        <wsdl:part element="sec:ApplicationsList" name="outPutParam"/> 
    </wsdl:message>
    <wsdl:message name="usersResponse">
        <wsdl:part element="sec:UsersList" name="usersStuff"/> 
    </wsdl:message>
    <wsdl:message name="groupsResponse">
        <wsdl:part element="sec:GroupsList" name="groupsStuff"/> 
    </wsdl:message>
    
    <!-- these parameters need to have unique names 
    
    cxf/server routes to the appropriate handler via soap xml elements
    so if signatures are the same they need to have unique names
    
    -->
    <wsdl:message name="findUserId">
        <wsdl:part type="xsd:integer" name="findUserId"/> 
    </wsdl:message>
    <wsdl:message name="findGroupId">
        <wsdl:part type="xsd:integer" name="findGroupId"/> 
    </wsdl:message>
    <wsdl:message name="findAppId">
        <wsdl:part type="xsd:integer" name="findAppId"/> 
    </wsdl:message>
    
    <wsdl:portType name="SecurityServiceWSDL">
        
        <wsdl:operation name="DeleteUser">
            <wsdl:input  name="deleteInput" message="tns:deleteUserRequest"/>
            <wsdl:output name="deleteOutput" message="tns:deleteUserResponse"/>
        </wsdl:operation>
        
         <wsdl:operation name="SaveUser">
            <wsdl:input name="saveInput" message="tns:saveUserRequest"/>
            <wsdl:output name="saveOutput" message="tns:saveUserResponse"/>
        </wsdl:operation>
        
        <wsdl:operation name="FindApplication">
            <wsdl:input message="tns:findAppId"/>
            <wsdl:output message="tns:singleApplicationResponse"/>
        </wsdl:operation>
        
        <wsdl:operation name="FindGroup">
            <wsdl:input message="tns:findGroupId"/>
            <wsdl:output message="tns:singleGroupResponse"/>
        </wsdl:operation>
        
        <wsdl:operation name="FindUser">
            <wsdl:input message="tns:findUserId"/>
            <wsdl:output message="tns:deleteUserResponse"/>
        </wsdl:operation>
        
        <wsdl:operation name="GetApplications">
            <wsdl:input message="tns:emptyRequest"/>
            <wsdl:output message="tns:applicationsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="GetUsers">
            <wsdl:input message="tns:emptyRequest"/>
            <wsdl:output message="tns:usersResponse"/>
        </wsdl:operation>
        <wsdl:operation name="GetGroups">
            <wsdl:input message="tns:emptyRequest"/>
            <wsdl:output message="tns:groupsResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SecurityServiceWSDLSOAP" type="tns:SecurityServiceWSDL">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        
        <wsdl:operation name="DeleteUser">
            <soap:operation style="rpc"  soapAction="uri:dhenton9000:SecurityService/DeleteUser"/>
            <wsdl:input name="deleteInput" >
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="deleteOutput" >
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="SaveUser">
            <soap:operation style="rpc"  soapAction="uri:dhenton9000:SecurityService/SaveUser"/>
            <wsdl:input name="saveInput" >
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="saveOutput" >
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        
        
        
        <wsdl:operation name="GetApplications">
            <soap:operation style="rpc" soapAction="uri:dhenton9000:SecurityService/GetApplications"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="GetUsers">
            <soap:operation style="rpc" soapAction="uri:dhenton9000:SecurityService/GetUsers"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetGroups">
            <soap:operation style="rpc" soapAction="uri:dhenton9000:SecurityService/GetGroups"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        
        
    </wsdl:binding>
    <wsdl:service name="SecurityServiceWSDL">
        <wsdl:port binding="tns:SecurityServiceWSDLSOAP" name="SecurityServiceWSDLSOAP">
            <soap:address location="uri:dhenton9000:SecurityService"/>
        </wsdl:port>
    </wsdl:service>
    
</wsdl:definitions>

 